.contactwrapper,
.contactwrapperDark {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 60px 90px 60px;
  position: relative;
  background-image: url("https://res.cloudinary.com/dt9pwfpi5/image/upload/v1700223294/Vector-bg_ijfifv.png");
  p {
    text-align: center;
    color: #101828;
    font-family: Outfit;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.35781rem;
    margin-bottom: 3rem;
  }
  .mg-0 {
    margin-bottom: 0;
  }
  button.contact {
    background: #135fdc;
    color: #fff;
    cursor: pointer;
    padding: 14px 40px;
    border-radius: 28px;
    border: 2px solid #135fdc;
    margin-bottom: 70px;
  }
  .purple,
  .green,
  .gold,
  .pink {
    position: absolute;
  }
  .purple {
    top: 60px;
    left: 250px;
  }
  .green {
    top: 60px;
    right: 250px;
  }
  .gold {
    top: 200px;
    left: 500px;
  }
  .pink {
    top: 200px;
    right: 500px;
  }
}
.contactwrapperDark {
  background-color: #061122;
  background-image: url("https://res.cloudinary.com/dt9pwfpi5/image/upload/v1702285932/three_ehzwtb.png");
  p {
    color: #fff;
  }
}
.cardCWrapper,
.cardCWrapperDark {
  border-radius: 0.75rem;
  border: 0.5px solid rgba(242, 242, 242, 0.5);
  background: #fff;
  text-align: center;
  width: 20.125rem;
  height: 16.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 4px 4px 12px 0px rgba(214, 229, 241, 0.25);
  p.appName {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: -0.01913rem;
  }
  p.details a {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: Mulish;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2.2885rem;
    letter-spacing: -0.01488rem;
    text-decoration-line: underline;
  }
}
.cardCWrapperDark {
  background-color: #121d30;
  border: 0;
  box-shadow: 4px 4px 12px 0px #061122;
  p.appName {
    color: #fff;
  }
  p.details a {
    color: #bdbdbd;
  }
}
.flexMeans,
.flexMeansDark {
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding: 11rem;
  background: #fcfeff;
}
.flexMeansDark {
  background-color: #061122;
}

@media (min-width: 1024px) and (max-width: 1420px) {
  .contactwrapper,
  .contactwrapperDark {
    .purple {
      left: 150px;
    }
    .green {
      right: 150px;
    }
    .gold {
      left: 300px;
    }
    .pink {
      right: 300px;
    }
  }
  .flexMeans,
  .flexMeansDark {
    padding: 4rem;
    align-items: center;
  }
  .cardCWrapper,
  .cardCWrapperDark {
    width: 30rem;
  }
}

@media (min-width: 821px) and (max-width: 1023px) {
  .contactwrapper,
  .contactwrapperDark {
    .purple {
      left: 50px;
    }
    .green {
      right: 50px;
    }
    .gold {
      left: 190px;
    }
    .pink {
      right: 190px;
    }
  }
  .flexMeans,
  .flexMeansDark {
    flex-direction: column;
    padding: 4rem;
    align-items: center;
  }
  .cardCWrapper,
  .cardCWrapperDark {
    width: 30rem;
  }
}

@media (min-width: 481px) and (max-width: 820px) {
  .contactwrapper,
  .contactwrapperDark {
    .purple,
    .green,
    .gold,
    .pink {
      svg {
        height: 35px;
      }
    }
    p {
      font-size: 3rem;
    }
    .purple {
      top: 35px;
      left: 40px;
    }
    .green {
      top: 20px;
      right: 40px;
    }
    .gold {
      top: 260px;
      left: 90px;
    }
    .pink {
      top: 260px;
      right: 80px;
    }
  }
  .flexMeans,
  .flexMeansDark {
    flex-direction: column;
    padding: 4rem;
    align-items: center;
  }
  .cardCWrapper,
  .cardCWrapperDark {
    width: 30rem;
  }
}

@media (max-width: 510px) {
  .contactwrapper,
  .contactwrapperDark {
    padding: 50px;
    p {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 2rem;
    }
    .purple,
    .green,
    .gold,
    .pink {
      svg {
        height: 25px;
      }
    }
    .purple {
      top: 35px;
      left: 10px;
    }
    .green {
      top: 20px;
      right: 20px;
    }
    .gold {
      top: 220px;
      left: 40px;
    }
    .pink {
      top: 150px;
      right: 30px;
    }
  }
  .flexMeans,
  .flexMeansDark {
    flex-direction: column;
    padding: 3rem 1.31rem;
    align-items: center;
  }
  .cardCWrapper,
  .cardCWrapperDark {
    width: 18rem;
  }
}

@media (max-width: 350px) {
  .contactwrapper,
  .contactwrapperDark {
    padding: 50px;
    p {
      font-size: 1.6rem;
      line-height: 2.5rem;
      margin-bottom: 2rem;
    }
    .purple {
      top: 30px;
      left: 10px;
    }
    .green {
      top: 20px;
      right: 20px;
    }
    .gold {
      top: 220px;
      left: 30px;
    }
    .pink {
      top: 150px;
      right: 30px;
    }
  }
  .flexMeans,
  .flexMeansDark {
    flex-direction: column;
    padding: 3rem 1.31rem;
    align-items: center;
  }
  .cardCWrapper,
  .cardCWrapperDark {
    width: 16rem;
  }
}

@media (max-width: 290px) {
  .contactwrapper,
  .contactwrapperDark {
    padding: 40px;
    p {
      font-size: 1.6rem;
    }
    .purple {
      top: 10px;
      left: 10px;
    }
    .green {
      top: 10px;
      right: 20px;
    }
    .gold {
      top: 220px;
      left: 10px;
    }
    .pink {
      top: 150px;
      right: 10px;
    }
  }
  .cardCWrapper,
  .cardCWrapperDark {
    width: 15rem;
  }
}
