.contactwrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 60px 90px 60px;
  position: relative;
  background-image: url("https://res.cloudinary.com/dt9pwfpi5/image/upload/v1700223294/Vector-bg_ijfifv.png");
  p {
    text-align: center;
    color: #101828;
    font-family: Outfit;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.35781rem;
    margin-bottom: 3rem;
  }
  button.contact {
    background: #135fdc;
    color: #fff;
    cursor: pointer;
    padding: 14px 40px;
    border-radius: 28px;
    border: 2px solid #135fdc;
    margin-bottom: 70px;
  }
  .purple,
  .green,
  .gold,
  .pink {
    position: absolute;
  }
  .purple {
    top: 60px;
    left: 250px;
  }
  .green {
    top: 60px;
    right: 250px;
  }
  .gold {
    top: 200px;
    left: 500px;
  }
  .pink {
    top: 200px;
    right: 500px;
  }
}
.cardCWrapper {
  border-radius: 0.75rem;
  border: 0.5px solid rgba(242, 242, 242, 0.5);
  background: #fff;
  text-align: center;
  width: 20.125rem;
  height: 16.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  p.appName {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: -0.01913rem;
  }
  p.details a {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: Mulish;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2.2885rem;
    letter-spacing: -0.01488rem;
    text-decoration-line: underline;
  }
}
.flexMeans {
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding: 11rem;
  background: #fcfeff;
}
