@import "../../variables";
.headerWrapper {
  box-shadow: 0px 2px 12px 0px rgba(196, 214, 222, 0.25);
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6.4375rem 1rem 8rem;
  width: 117rem;
  .logo {
    cursor: pointer;
  }
  .header-links {
    display: flex;
    align-items: center;
    gap: 40px;
    a {
      color: $grey-900;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: $blue-100;
      }
      font-family: Mulish;
      font-size: 1.05rem;
      font-style: normal;
      font-weight: 500;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white-200;
      border: 0px;
      padding: 13px;
      border-radius: 100%;
      filter: drop-shadow(0px 3px 7px rgba(72, 4, 3, 0.05));
      cursor: pointer;
    }
  }
}
