@import "../../variables";
.headerWrapper {
  box-shadow: 0px 2px 12px 0px rgba(196, 214, 222, 0.25);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6.4375rem 1rem 8rem;
  width: 117rem;
  .logo {
    cursor: pointer;
  }
  .header-links {
    display: flex;
    align-items: center;
    gap: 40px;
    a {
      color: $grey-900;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: $blue-100;
      }
      font-family: Mulish;
      font-size: 1.05rem;
      font-style: normal;
      font-weight: 500;
    }
    a.activeLink {
      color: $blue-100;
      font-weight: 700;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white-200;
      border: 0px;
      padding: 13px;
      border-radius: 100%;
      filter: drop-shadow(0px 3px 7px rgba(72, 4, 3, 0.05));
      cursor: pointer;
    }
  }
}
.visible {
  top: 0;
  transition: top 0.4s ease-out;
}

.hidden {
  top: -125px;
  transition: top 0.4s ease-out;
}

@media (min-width: 1025px) and (max-width: 1370px) {
  .header {
    padding: 1rem 6.4375rem 1rem 6rem;
  }
}

@media (max-width: 480px) {
  .header {
    width: 100%;
    padding: 1rem 1.31rem;
    .logo {
      img {
        height: 50px;
      }
    }
    #menuToggle {
      display: block;
      position: relative;
      z-index: 1;
      margin-top: 10px;
      -webkit-user-select: none;
      user-select: none;
    }

    #menuToggle a {
      text-decoration: none;
      color: #232323;
      transition: color 0.3s ease;
    }

    #menuToggle a:hover {
      color: tomato;
    }

    #menuToggle input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;

      cursor: pointer;

      opacity: 0;
      z-index: 2;

      -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: #000000b7;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    #menuToggle span:first-child {
      transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      width: 130%;
      margin: -100px 0 0 -100%;
      padding: 50px;
      padding-top: 200px;
      height: 130vh;
      background: #fafcfe;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(-200%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      background-image: url("https://res.cloudinary.com/dt9pwfpi5/image/upload/v1700223294/Vector-bg_ijfifv.png");
    }

    #menu li {
      padding: 10px 0;
      font-size: 22px;
      margin-top: 10rem;
    }

    /*
 * And let's slide it in from the left
 */
    #menuToggle input:checked ~ ul {
      transform: none;
    }
  }
}
