@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.hero {
    background: rgba(255, 169, 135, 0.04);
    height: 100vh;
}
.hamburger {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px 20px 90px;
}
.btns {
    display: flex;
    align-items: center;
}
.rhs {
    display: flex;
    align-items: center;
}
ul.nav {
    display: flex;
    align-items: center;
}
ul.nav li {
    margin-left: 80px;
    color: #480403;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}
button.modeBtn {
    background-color: #FFFEFC;
    border: 0;
    outline: 0;
    box-shadow: 0px 3px 7px rgba(72, 4, 3, 0.05);
    padding: 10px 10px 7px 10px;
    border-radius: 20px;
}
.hamburger {
    display: none;
}
button.resume {
    background: #480403;
    border-radius: 4px;
    color: #FFFFFF;
    outline: 0;
    border: 1px solid #480403;
    padding: 12px 35px;
    font-size: 16px;
}
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
}
.bottom-hero {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding-left: 90px;
    margin-top: 20px;
}
img.light-dots {
    height: 450px;
    position: relative;
}
img.first-pic {
    height: 418px;
    position: absolute;
    left: 896px;
}
.right-part {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
p.hi {
    font-size: 25px;
}
h1 {
    font-size: 35px;
    color: #480403;
    position: relative;
    width: 55%;
    margin: 20px 0px;
}
h1::after {
    position: absolute;
    content: '';
    height: 6px;
    bottom: 5px;
    background: #FFA987;
    margin: 0 auto;
	left: 0;
    right: 0;
    z-index: -1;
}
p.title {
    color: #C4C4C4;
}
p.brief {
    width: 50%;
    margin: 20px 0px;
    color: #5F6368;
}
.Cta-btns {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
button.view {
    background-color: transparent;
    border: 2px solid #480403;
    padding: 12px 35px;
    border-radius: 4px;
    color: #480403;
    font-size: 15px;
    outline: 0;
    font-weight: 600;
    margin-left: 30px;
}
button.view:hover {
    background-color: #480403;
    color: #FFFFFF;
    transition: all 0.4s ease-in-out;
}
.fab {
    color: #fff;
    font-size: 4vmin;
}
.glowing {
    display: flex;
}

.glowing ul {
    display: flex;
    margin-top: 20px;
}

.glowing ul li {
    list-style: none;
    position: relative;
    width: 8vmin;
    height: 8vmin;
    margin-right: 20px;
    border-radius: 50%;
}

.glowing ul li::before,
.glowing ul li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 50%;
    opacity: 0;
    filter: blur(20px);
    z-index: 1;
}

.glowing ul li::after {
    filter: blur(40px);
}

.glowing ul li:hover::after,
.glowing ul li:hover::before {
    opacity: 1;
}

.glowing ul li a {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 50%;
}

.glow {
    top: 12px;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    text-align: center;
    line-height: 80px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    transform: scale(0.8);
    opacity: 0.8;
    z-index: 10;
}

.glowing ul li:hover a .glow {
    opacity: 1;
    transform: scale(1.2);
}
.glowing ul li a, 
.glowing ul li::after,
.glowing ul li::before {
    background: #480403;
}
  
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}


/* Media Queries */
@media (max-width: 768px){
    .hamburger {
        display: block;
    }
}