@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
img.logo {
    height: 80px;
}
.hero {
    background: rgba(255, 169, 135, 0.1);
    height: 100vh;
}
.hamburger {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 10px;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px 20px 90px;
}
.btns {
    display: flex;
    align-items: center;
}
.rhs {
    display: flex;
    align-items: center;
}
ul.nav {
    display: flex;
    align-items: center;
}
ul.nav li {
    margin-left: 60px;
    color: #480403;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}
button.modeBtn {
    background-color: #FFFEFC;
    border: 0;
    outline: 0;
    box-shadow: 0px 3px 7px rgba(72, 4, 3, 0.05);
    padding: 10px 10px 7px 10px;
    border-radius: 20px;
}
.hamburger {
    display: none;
}
button.resume {
    background: #480403;
    border-radius: 4px;
    color: #FFFFFF;
    outline: 0;
    border: 1px solid #480403;
    padding: 12px 35px;
    font-size: 16px;
}
.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;       
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
}
.bottom-hero {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding-left: 90px;
    margin-top: 20px;
}
img.light-dots {
    height: 450px;
    position: relative;
}
img.first-pic {
    height: 418px;
    position: absolute;
    left: 896px;
}
.right-part {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
p.hi {
    font-size: 25px;
}
h1.top {
    font-size: 38px;
    color: #480403;
    position: relative;
    margin: 20px 0px;
}
h1.top::after {
    position: absolute;
    content: '';
    height: 6px;
    bottom: 7px;
    background: #FFA987;
	left: 0;
    right: 0;
    z-index: -1;
    width: 39.7%;
}
p.title {
    color: #C4C4C4;
}
p.brief {
    width: 50%;
    margin: 20px 0px;
    color: #5F6368;
}
.Cta-btns {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
button.view {
    background-color: transparent;
    border: 2px solid #480403;
    padding: 12px 35px;
    border-radius: 4px;
    color: #480403;
    font-size: 15px;
    outline: 0;
    font-weight: 600;
    margin-left: 30px;
}
button.view:hover {
    background-color: #480403;
    color: #FFFFFF;
    transition: all 0.4s ease-in-out;
}
.fab {
    color: #fff;
    font-size: 3.8vmin;
}
.glowing {
    display: flex;
}

.glowing ul {
    display: flex;
    margin-top: 20px;
}

.glowing ul li {
    list-style: none;
    position: relative;
    width: 7vmin;
    height: 7vmin;
    margin-right: 20px;
    border-radius: 50%;
}

.glowing ul li::before,
.glowing ul li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 50%;
    opacity: 0;
    filter: blur(20px);
    z-index: 1;
}

.glowing ul li::after {
    filter: blur(40px);
}

.glowing ul li:hover::after,
.glowing ul li:hover::before {
    opacity: 1;
    cursor: pointer;
}

.glowing ul li a {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 50%;
}

.glow {
    top: 12px;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    text-align: center;
    line-height: 80px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    transform: scale(0.8);
    opacity: 0.9;
    z-index: 10;
}

.glowing ul li:hover a .glow {
    opacity: 1;
    transform: scale(1.1);
}
.glowing ul li a, 
.glowing ul li::after,
.glowing ul li::before {
    background: #480403;
}
 
p.about-deets {
    color: #525252;
    width: 85%;
}
ul.skill li::before, ul.skillmb li::before {
    content: "\2022";  
    color:#E54B4B;
    font-weight: bolder; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}
ul.skillmb {
    display: none;
}
h2 {
    color: #480403;
    position: relative;
    margin-bottom: 40px;
}
h2::after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: 12px;
    background: #FFA987;
	left: 18%;
    right: 0;
    z-index: -1;
    width: 30%;
}
h2.work::after {
    left: 20%;
}
.flex {
    display: flex;
    padding-left: 20px;
    margin-bottom: 15px;
}
.flex li {
    margin-right: 60px;
}
.set {
    margin: 40px 0px 20px 0px;
}
.secp {
    margin: 15px 0px;
}
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
}
.mobile-nav {
    display: none;
    align-items: center;
    text-align: center;
    color: #480403;
    padding-top: 1px;
    background: rgba(255, 169, 135, 0.04);
    padding-bottom: 40px;
}
.mobile-nav li {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    transition: all 1s ease-in-out;
}
.hide {
    display: block;
    transition: all 1s ease-in-out;
}
.about {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 20vh 70px 20vh 90px;
}
img.abt {
    height: 400px;
}
.rightt {
    position: relative;
}

.rightt .btn {
    position: absolute;
    top: 95.3%;
    left: 50%;
    transform: translate(2%, -23%);
    -ms-transform: translate(2%, -23%);
    cursor: pointer;
    text-align: center;
}
.experience {
    height: 100vh;
    padding-left: 200px;
    background: rgba(255, 169, 135, 0.1);
    padding-top: 100px;
}
.tabbed {
    display: flex;
    justify-content: space-between;
}
ul.company {
    padding-top: 15px;
}
ul.company li {
    padding-left: 20px;
    cursor: pointer;
    color:#C4C4C4;
    border-left: 2px solid #C4C4C4;
    border-bottom: 0px;
}
ul.company li.top {
    color: #480403;
    border-left: 2px solid #480403;
}
li.mid {
    padding-top: 10px;
    padding-bottom: 10px;
}
li.top {
    padding-top: 10px;
    padding-bottom: 10px;
}
li.last {
    padding-bottom: 10px;
    padding-top: 10px;
}
ul.company li:active, ul.company li:target, ul.company li:hover{
    transition: all 0.5s ease-in-out;
}
h3 {
    color: #480403;
}
h2.sxt {
    padding-left: 90px;
}
span.comp {
    color: #E54B4B;
}
.tabbed-right {
    width: 65%;
    padding-right: 200px;
}
.migrant, .more {
    display: none;
}
p.time {
    margin-top: 30px;
    color: #333333;
}
ul.doings li {
    margin-top: 30px;
    color: #5F6368;
}
ul.doings li::before {
    content: "\00BB";  
    color:#E54B4B;
    font-weight: bolder; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}
.tabbed {
    margin-top: 100px;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #480403; 
}
::-webkit-scrollbar-thumb:hover {
    background: #E54B4B; 
}
.myWorks {
    padding-top: 70px;
}
h2.workHeader {
    padding-left: 90px;
}
p.projName {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 26px;
    color: #480403;
    font-weight: 600;
}
p.toolsUsed {
    text-align: center;
    color: #FFFFFF;
}
.proj1, .proj2, .proj3 {
    background: linear-gradient(181.72deg, #FFA987 15.88%, #480403 221.85%);
    height: 300px;
    width: 300px;
    border-top: 8px solid #480403;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
}
.proj1, .proj2 {
    margin-right: 100px;
}
.firstThree, .secondThree, .thirdThree {
    display: flex;
}
.secondThree, .thirdThree {
    margin-top: 100px;
}
.worksContainer {
    padding-left: 90px;
    margin-top: 100px;
}
.link {
    text-align: right;
}
button.viewMore {
    background-color: transparent;
    border: 2px solid #E54B4B;
    padding: 12px 35px;
    border-radius: 4px;
    color: #E54B4B;
    font-size: 15px;
    outline: 0;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 100px;
}
button.viewMore:hover {
    background-color: #e54b4b11;
}
.viewMoreCont {
    display: flex;
    justify-content: center;
}
.thirdThree {
    display: none;
}
.none {
    display: flex;
    transition: all 1s ease-out;
}
i.fas {
    cursor: pointer;
}
i.fas:hover {
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}

/* Media Queries */
@media (max-width: 768px){
    .hamburger {
        display: block;
    }
    .navs {
        display: none;
    }
    .hero {
        height: 75vh;
    }
    header {
        padding: 15px 25px 15px 25px;
        transition: all 1s ease-in-out;
        background: rgba(255, 169, 135, 0.04);
    }
    .head {
        box-shadow: 0px 4px 10px rgba(18, 18, 18, 0.05);
        position: fixed;
        top: 0;
        width: 100%;
        background: #FFFBF9;
        z-index: 100;
        transition: all 1s ease-in-out;
    }
    button.modeBtn {
        margin-right: 35px;
    }
    .bottom-hero {
        display: block;
        padding-left: 25px;
        padding-right: 20px;
        margin-top: 90px;
        padding-top: 70px;
    }
    .right-part {
        display: none;
    }
    img.logo {
        height: 65px;
    }
    h1.top {
        font-size: 35px;
        margin: 30px 0px;
    }
    h1.top::after {
        width: 96%;
        bottom: 6px;
    }
    p.title {
        font-size: 17px;
    }
    p.brief {
        width: 100%;
        font-size: 19px;
        margin: 25px 0px 35px 0px;
    }
    .glowing ul li {
        width: 12vmin;
        height: 12vmin;
    }
    .fab {
        font-size: 6vmin;
    }
    .about{
        display: block;
        padding: 20px 0px 20px 25px;
    }
    h2::after {
        left: 38%;
    }
    ul.skill {
        display: none;
    }
    ul.skillmb {
        display: block;
    }
    .flex {
        justify-content: space-between;
    }
    img.abt {
        height: 300px;
        margin-top: 30px;
    }
    .rightt .btn {
        top: 91.2%;
        left: 28%;
        transform: translate(2%, -50%);
        -ms-transform: translate(2%, -50%);
    }
    .experience {
        padding: 80px 0px 20px 25px;
    }
    .tabbed {
        display: block;
        margin-top: 40px;
    }
    ul.company {
        display: flex;
        overflow-x: auto;
        margin-bottom: 30px;
    }
    ul.company li {
        border-left: 0px;
        border-bottom: 2px solid #C4C4C4;
        padding: 0px 20px;
        min-width: 120px;
        text-align: center;
        padding-bottom: 10px;
    }
    ul.company li.top {
        border-bottom: 2px solid #480403;
        border-left: 0px;
    }
    .tabbed-right {
        padding-right: 0px;
        width: 90%;
        margin-top: 70px;
    }
    ul.doings {
        padding-left: 15px;
    }
    p, li {
        font-size: 17px;
    }
    h2.work::after {
        left: 60%;
        width: 25%;
    }
    h2.workHeader {
        padding-left: 25px;
    }
    h2.workHeader::after {
        left: 44%;
        width: 30%;
    }
    .firstThree, .secondThree, .thirdThree {
        display: block;
        margin-top: 50px;
    }
    .worksContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 25px;
        margin-top: 0px;
    }
    .proj1, .proj2 {
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .proj1, .proj2, .proj3 {
        width: 350px;
    }
    button.viewMore {
        margin: 60px 0px;
    }
    .thirdThree {
        display: none;
    }
    .none {
        display: block;
    }
}
@media (max-width: 480px){

}