@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.hero {
    background: rgba(255, 169, 135, 0.04);
    height: 100vh;
}
.hamburger {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px 20px 90px;
}
.btns {
    display: flex;
    align-items: center;
}
.rhs {
    display: flex;
    align-items: center;
}
ul.nav {
    display: flex;
    align-items: center;
}
ul.nav li {
    margin-left: 80px;
    color: #480403;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}
button.modeBtn {
    background-color: #FFFEFC;
    border: 0;
    outline: 0;
    box-shadow: 0px 3px 7px rgba(72, 4, 3, 0.05);
    padding: 10px 10px 7px 10px;
    border-radius: 20px;
}
.hamburger {
    display: none;
}
button.resume {
    background: #480403;
    border-radius: 5px;
    color: #FFFFFF;
    outline: 0;
    border: 0;
    padding: 15px 45px;
    font-size: 16px;
}
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }


/* Media Queries */
@media (max-width: 768px){
    .hamburger {
        display: block;
    }
}