.hero-container {
  position: relative;
  margin-top: 6.5rem;
  #tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0;
  }
  .heroContainer,
  .heroContainerDark {
    display: flex;
    justify-content: center;
    background: rgba(250, 251, 254, 0.7);
  }
  .heroContainerDark {
    background: #061122;
    z-index: 1;
  }
  .heroWrapper {
    display: flex;
    padding: 4.375rem 8.875rem 6rem 8.125rem;
    align-items: center;
    justify-content: space-between;
    width: 117rem;
    z-index: 2;
    .leftHero {
      p.hello {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 3.75rem;
        color: #000;
      }
      h2.name {
        font-size: 4rem;
        font-weight: 700;
        line-height: 4.6875rem;
        color: #101828;
      }
      p.extraDetails {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.75rem;
        color: #101828;
        width: 36.0625rem;
        margin: 1.25rem 0 2rem 0;
      }
      .resumeContainer {
        display: flex;
      }
      a.resume {
        text-decoration: none;
        cursor: pointer;
      }
      p.viewCv {
        margin-bottom: 3.5rem;
        color: #135fdc;
        font-size: 1.125rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        span.arrowIcon {
          margin-left: 0.37rem;
          margin-top: 4px;
        }
      }
      p.viewCv:hover {
        span.arrowIcon {
          margin-left: 0.6rem;
          transition: 0.3s ease-out;
        }
      }
    }
  }
  .heroContainerDark {
    .heroWrapper {
      .leftHero {
        p.hello {
          color: #bdbdbd;
        }
        h2.name {
          color: #fff;
        }
        p.extraDetails {
          color: #bdbdbd;
        }
        p.viewCv {
          color: #3c80ee;
          span {
            svg {
              path {
                fill: #3c80ee;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1370px) {
  .hero-container {
    .heroWrapper {
      padding: 4.375rem 6rem 6rem 6rem;
      .leftHero {
        p.hello {
          font-size: 1.3rem;
        }
        h2.name {
          font-size: 3.1rem;
        }
        p.extraDetails {
          font-size: 1.1rem;
          width: 80%;
        }
        p.viewCv {
          font-size: 1.1rem;
        }
      }
      .rightHero {
        img {
          height: 340px;
        }
      }
    }
  }
}

@media (min-width: 821px) and (max-width: 1023px) {
  .hero-container {
    .heroWrapper {
      padding: 4.375rem 4rem 6rem 4rem;
      .leftHero {
        p.hello {
          font-size: 1.2rem;
        }
        h2.name {
          font-size: 2.8rem;
          line-height: 3rem;
        }
        p.extraDetails {
          font-size: 1rem;
          width: 80%;
        }
        p.viewCv {
          font-size: 1rem;
        }
      }
      .rightHero {
        img {
          height: 250px;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 820px) {
  .heroContainer,
  .heroContainerDark {
    .heroWrapper {
      padding: 2rem 4rem 6rem 4rem;
      flex-direction: column;
      align-items: flex-start;
      .rightHero {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
          margin-top: 4.5rem;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 707px) {
  .heroContainer,
  .heroContainerDark {
    .heroWrapper {
      padding: 1.69rem 1.31rem 6rem 1.31rem;
      flex-direction: column;
      width: 100%;
      .leftHero {
        h2.name {
          font-size: 3rem;
        }
      }
      .leftHero {
        margin-top: 25px;
        p.hello {
          font-size: 1.2rem;
          line-height: 2.625rem;
        }
        h2.name {
          font-size: 2.25rem;
          line-height: 4.6875rem;
        }
        p.extraDetails {
          font-size: 1.125rem;
          font-weight: 400;
          line-height: 1.75rem;
          color: #101828;
          width: unset;
          margin: 0.5rem 0 2rem 0;
        }
        p.viewCv {
          font-size: 1.125rem;
        }
      }
      .rightHero {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
          margin-top: 4.5rem;
          height: 370px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .hero-container {
    margin-top: 5.4rem;
  }
  .heroContainer,
  .heroContainerDark {
    .heroWrapper {
      flex-direction: column;
      width: 100%;
      padding: 1.69rem 1.31rem 6rem 1.31rem;
      .leftHero {
        margin-top: 25px;
        p.hello {
          font-size: 1.2rem;
          line-height: 2.625rem;
        }
        h2.name {
          font-size: 2.25rem;
          line-height: 4.6875rem;
        }
        p.extraDetails {
          font-size: 1.125rem;
          font-weight: 400;
          line-height: 1.75rem;
          color: #101828;
          width: unset;
          margin: 0.5rem 0 2rem 0;
        }
        p.viewCv {
          font-size: 1.125rem;
        }
      }
      .rightHero {
        img {
          margin-top: 3rem;
          height: 300px;
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .heroContainer,
  .heroContainerDark {
    .heroWrapper {
      .leftHero {
        h2.name {
          font-size: 1.9rem;
        }
        p.extraDetails {
          font-size: 1rem;
        }
        p.viewCv {
          font-size: 1rem;
        }
        p.hello {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .heroContainer,
  .heroContainerDark {
    .heroWrapper {
      .leftHero {
        h2.name {
          font-size: 1.6rem;
        }
      }
      .rightHero {
        img {
          margin-top: 3rem;
          height: 250px;
        }
      }
    }
  }
}

@media (max-width: 290px) {
  .heroContainer,
  .heroContainerDark {
    .heroWrapper {
      .leftHero {
        h2.name {
          font-size: 1.6rem;
          line-height: 3rem;
        }
        p.extraDetails {
          line-height: 1.6rem;
          font-size: 0.95rem;
        }
        p.viewCv {
          font-size: 0.95rem;
        }
      }
      .rightHero {
        img {
          margin-top: 3rem;
          height: 230px;
        }
      }
    }
  }
}
